<div class="panel panel-default">

    <div class="panel-heading text-center">
        <div class="panel-title">コメント</div>
    </div>

    <div class="panel-body">

        <% if article.post_comments.blank? %>
            <div class="blank text-center">まだコメントがありません。</div>
        <% end %>

        <!-- コメント一覧 -->

        <% article.post_comments.each do |post_comment| %>

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
							<!-- コメントしたユーザーの画像と名前 -->
							<%= link_to user_path(post_comment.user) do %>
								<%= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size: '50x50', class: "img-responsive center-block" %><br>
								<p class= "text-center"><%=  post_comment.user.name %></p>
							<% end %>
						</div>
						<div class="col-xs-8">
							<!-- コメント本文 -->
							<div class="comment">
								<%= simple_format(post_comment.comment) %>
							</div>
							<!-- コメントに投稿した画像 -->
							<div class="comment_image">
								<%= attachment_image_tag post_comment, :post_comment_image, :fill, 500, 400, format: 'jpeg', class: "img-responsive center-block" %>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>

					<!-- リンクボタン・日付 -->
					<div class="col-xs-12 text-right">
						<span>
							<% if post_comment.user == current_user %>
								<%= link_to "編集", edit_article_post_comment_path(article,post_comment.id) %>
								<%= link_to "削除", article_post_comment_path(article,post_comment.id), method: :DELETE, remote: true, "data-confirm" => "Are you sure?" %>
							<% end %>
						</span>
						<span>
							<%= post_comment.created_at.strftime('%Y/%m/%d') %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>